{% macro post_card(pg) %}
    {% set pg_image = "" %}
    {% set pg_category = "" %}
    {% set pg_description = "" %}
    {% set category_link = "" %}
    {% set pg_title = pg.title %}
    {% if pg_title == "Index" %}
        {% set pg_title = pg.parent.title %}
    {% endif %}
    {% set main_category = page.meta.category | first | lower %}
    {% if pg.meta %}
        {% if pg.meta.date %}
            {% set pg_date_new = pg.meta.date %}
        {% elif pg.meta.published %}
            {% set pg_date_new = pg.meta.published %}
        {% endif %}
        {% if pg.meta.updated %}
            {% set pg_date_mod = pg.meta.updated %}
        {% elif pg.meta.lastmod %}
            {% set pg_date_mod = pg.meta.lastmod %}
        {% endif %}
        {% if pg.meta.title %}
            {% set pg_title = pg.meta.title %}
        {% endif %}
        {% if pg.meta.banner %}
            {% set pg_image = pg.meta.banner %}
        {% elif pg.meta.image %}
            {% set attachmentsFolder = config | get_attachments_folder %}
            {% set pg_image = config.site_url ~ attachmentsFolder ~ '/' ~ pg.meta.image %}
        {% endif %}
        {% if pg.meta.category %}
            {% set pg_category = pg.meta.category | lower | replace(main_category, '') | replace('/', '') | title %}
            {% if pg_category | length > 1 %}
                {% set category_link = config.docs_dir ~ "/" ~ page.meta.category ~ '/' ~ pg_category ~ '/index.md' %}
                {# set category_exists = category_link | page_exists #}
                {% set category_exists = false %}
                {% if category_exists %}
                    {% set link = pg.meta.category | links %}
                    {% set link = config.site_url ~ link ~ '/' %}
                    {% set pg_category = '<a class="post-link category" href="' ~ link ~ '">' ~ pg_category ~ '</a>' %}
                {% endif %}
            {% endif %}
        {% endif %}
        {% if pg.meta.description %}
            {% set pg_description = pg.meta.description | escape %}
        {% endif %}
    {% endif %}
    <div class="post">
        <h4 class="post-title">
            <a href="{{ pg.canonical_url }}" class="post-link title">{{ pg_title }}</a>
        </h4>
        <div class="post-info-wrap">
            <div class="post-info">
                <p class="post-description">{{ pg_description }}</p>
                <div class="post-extra row">
                    <div class="col">
                        <p class="post-date">
                            <span class="twemoji">{% include ".icons/material/calendar.svg" %}</span>
                            <span class="icon-text">{{ pg_date_new }}</span>
                            {% if pg_date_mod %}
                            <span class="twemoji">{% include ".icons/material/calendar.svg" %}</span>
                            <span class="icon-text"><em>{{ pg_date_mod }}</em></span>
                            {% endif %}
                            {% if pg_category | length > 1 %}
                                <span class="post-category">
                                    <span class="twemoji">{% include ".icons/material/folder.svg" %}</span>
                                    {{ pg_category }}
                                </span>
                            {% endif %}
                        </p>
                    </div>
                </div>
            </div>
            {% if pg_image %}
                <img class="post-banner " src='{{ pg_image }}' />
            {% endif %}
        </div>
    </div>
{% endmacro %}
