{% if page.meta.comments %}
{% set comments = page.meta.comments %}
{% elif config.extra.comments %}
{# only check global config if page has no instructions #}
{% set comments = config.extra.comments %}
{% else %}
{% set comments = false %}
{% endif %}
{% if comments %}
  <script defer
          src="https://chirpy.dev/bootstrapper.js"
          data-chirpy-domain="codeshell.on.state.ovh"></script>
  <div data-chirpy-theme="system"
       data-chirpy-comment="true"
       id="chirpy-comment"></div>
{% endif %}
