{% from "macros/post-card.html" import post_card %}
{# title #}
{% if not "\x3ch1" in page.content %}
    <h1>{{ page.title | d(config.site_name, true) }}</h1>
{% endif %}
{# description #}
<p>{{ page.content }}</p>
{% if config.extra['blog_list'] %}
    {% set config_pagination = config.extra['blog_list'] %}
{% else %}
    {% set config_pagination = {'pagination': True, 'pagination_message': True, 'pagination_translation': 'posts in'} %}
{% endif %}
{% set main_category = page.meta.category | lower %}
{% set url_sep = "/" %}
{% set main_url = page.url %}
{% if page.meta and page.meta.nav %}
    {% set main_url = page.meta.nav %}
{% endif %}
{% set main_url_count = main_url|split(url_sep)|list|length + 1 %}
{# page collection #}
{% set ns = namespace(valid_pages=[], blog_pages=[],  vpc=0) %}
{% for pg in pages %}
    {% if main_url and pg.url and pg.url|length > 0 %}
        {% if pg.meta and pg.meta.date %}
            {% set date = pg.meta.date %}
        {% elif page.meta.git_creation_date_localized_raw_iso_date %}
            {% set date = page.meta.git_creation_date_localized_raw_iso_date %}
        {% else %}
            {% set date = build_date_utc %}
        {% endif %}
        {% set page_url_prefix = pg.url|split(url_sep)|slice(main_url_count)|first|join(url_sep) %}
        {% set page_category = none %}
        {% if pg.meta and pg.meta.category %}
            {% set page_category = pg.meta.category | lower %}
        {% endif %}
        {% set check_category = main_category and page_category and main_category in page_category %}
        {% set check_self = page.canonical_url and pg.canonical_url and page.canonical_url == pg.canonical_url %}
        {% if check_self %}
            {# it's me #}
        {% elif check_category or page_url_prefix == main_url %}
            {# debug_page(pg) #}
            {% set ns.valid_pages = ns.valid_pages | chain([{"page": pg, "date": date}]) %}
            {% set ns.vpc = ns.vpc + 1 %}
        {% endif %}
    {% endif %}
{% endfor %}

<div>Found {{ ns.vpc }} entries in this section.</div>

{% for collected in ns.valid_pages | sort(attribute = 'date', reverse=True) %}
    {% set pg = collected.page %}
    {% set hidden = true if (pg.meta and pg.meta.hidden) %}
    {% if (not pg.is_homepage) and
        (not pg.markdown == '') and
        (not hidden) and not (pg.title == 'index')
        %}
        {# set datetime = pg.date |time_todatetime #}
        {# set dateti = datetime.strftime('%d/%m/%Y') #}
        {% set ns.blog_pages = ns.blog_pages | chain([pg]) %}
    {% endif %}
{% endfor %}
{% if ns.blog_pages|count > 0 %}
    {# count the number of pages #}
    {% set page_num = 1 %}
    {% if config_pagination['pagination'] %}
        {% set page_num = (ns.blog_pages|count / 10)|int %}
        {% if (ns.blog_pages|count / 10) > page_num %}
            {# this simulates round(module="ceil") which does not exist in MiniJinja #}
            {% set page_num = page_num + 1 %}
        {% endif %}
        {% if config_pagination['pagination_translation'] %}
            {% set pagination_translation = config_pagination["pagination_translation"] %}
        {% endif %}
        <div id="page_num" data-value="{{ page_num }}"></div>
        <div class="center">
            <div class="pagination" id="pagination-top">
                <!-- <a href="#">&laquo;</a> -->
                {% for pg_group in ns.blog_pages|slice(page_num) %}
                    <a class="page-number {% if loop.index==1 %}active{% endif %}"
                       href="#page{{ loop.index }}">{{ loop.index }}</a>
                {% endfor %}
                <!-- <a href="#">&raquo;</a> -->
            </div>
        </div>
    {% endif %}
    {# pagination #}
    <div class="pages">
        {% for pg_group in ns.blog_pages|slice(page_num) %}
            {% if config_pagination['pagination'] %}
                <div class="page" id="page{{ loop.index }}">
                {% endif %}
                {% for pg in pg_group %}
                    {{ post_card(pg) }}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
    {% if config_pagination['pagination'] %}
        <div class="center">
            <div class="pagination" id="pagination-bottom">
                <!-- <a href="#">&laquo;</a> -->
                {% for pg_group in ns.blog_pages|slice(page_num) %}
                    <a class="page-number {% if loop.index==1 %}active{% endif %}"
                       href="#page{{ loop.index }}">{{ loop.index }}</a>
                {% endfor %}
                <!-- <a href="#">&raquo;</a> -->
            </div>
        </div>
    {% endif %}
    {% if config_pagination["pagination"] and config_pagination["pagination_message"] %}
        <p class="center">Total : <b>{{ ns.blog_pages|count }}</b> {{ pagination_translation }} {{ page_num }} pages.</p>
    {% endif %}
    <script>
        function scrollToTop() {
            // delay a little for css to calculate windows size
            setTimeout(function () {
                window.scrollTo(0, 0);
            }, 100);
        }
    </script>
    {% if config_pagination['pagination'] %}
        <script>
            function activatePaginationLinks(name) {
                var pagination = document.getElementById("pagination-" + name);
                if (pagination) {
                    var links = pagination.getElementsByClassName("page-number");
                    if (links.length) {
                        for (var i = 0; i < links.length; i++) {
                            if (links[i].getAttribute("href") == window.location.hash) {
                                links[i].classList.add("active");
                            } else {
                                links[i].classList.remove("active")
                            }
                        }
                    }
                }
            }

            // show page 1 as default
            
            window.location.hash = "#page1";

            // listen to hash change
            window.onhashchange = function () {
                var hash = window.location.hash;
                const regexp = /^#page[0-9]+$/;
                if (regexp.test(hash)) {
                    var num = parseInt(hash.substr(5));
                    var max = parseInt(document.getElementById('page_num').dataset.value);
                    if (num >= 1 && num <= max) {
                        activatePaginationLinks("top");
                        activatePaginationLinks("bottom");
                        scrollToTop();
                        return;
                    }
                }

                window.location.hash = "#page1";
            }
        </script>
    {% endif %}
{% else %}
    !!! info
    No pages found!
{% endif %}
